<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="EndPointUrl" value="*" />
    <add key="AuthorizationKey" value="*" />
    <add key="DatabaseName" value="graphdb" />
    <add key="CollectionName" value="semmed" />
    <add key="CollectionThroughput" value="100000" />
    <add key="ShouldCleanupOnStart" value="true" />
    <add key="ShouldCleanupOnFinish" value="false" />
    <add key="NumberOfDocumentsToImport" value="30" />
    <add key="NumberOfBatches" value="6" />
    <add key="CollectionPartitionKey" value="pk" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="application.log" />
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>